---

- name: Template files
  template:
    src: "{{item.src}}"
    dest: "{{item.dest}}"
    owner: "{{item.owner|default('root')}}"
    group: "{{item.group|default('root')}}"
    mode: "{{item.mode|default('0600')}}"
  with_items:
    - { src: "borg.excludes.j2", dest: "/etc/borg.excludes" }
    - { src: "borg.sh.j2", dest: "/usr/local/bin/borg.sh", mode: "0700" }
    - { src: "borg-env.j2", dest: "/etc/borg.env", mode: "0700" }
  tags:
    - borgconfig

- name: Read ssh public-key
  slurp:
    src: /root/.ssh/id_rsa.pub
  register: id_rsa_pub_root
  tags:
    - borgkey

- name: Add id_rsa key with limits to authorized_keys on backup-host
  authorized_key:
    user: "{{backup_name}}"
    key: "{{id_rsa_pub_root.content|b64decode}}"
    key_options: 'command="borg serve --restrict-to-path {{borg_repodir}}",restrict'
  delegate_to: "{{backup_domain}}"
  become: "{{ False if ldapclient_enabled == False  else True }}"
#  throttle: 1      # Only works in ansible latest (2.9 and later)
  tags:
    - borgkey

- name: Initialize repository
  command: "borg init --encryption=repokey '{{backup_name}}@{{backup_domain}}:{{inventory_hostname}}.borg'"
  environment:
    BORG_REPO: "{{backup_name}}@{{backup_domain}}:{{inventory_hostname}}.borg"
    BORG_PASSPHRASE: "{{backupninja_encryption_password}}"
    TEMP: /var/tmp
  args:
    creates: /root/.config/borg/security
